biopython==1.83
ipywidgets==8.1.2
numpy==1.26.4
onnxruntime==1.17.3
pandas==2.2.2
python_codon_tables==0.1.12
pytorch_lightning==2.2.1
scipy==1.13.1
setuptools==68.2.2
torch==2.2.2
tqdm==4.66.2
transformers==4.40.0